<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentAssertions" version="4.2.2" targetFramework="net45" />
  <package id="Microsoft.SqlServer.Compact" version="4.0.8876.1" targetFramework="net40" />
  <package id="NUnit" version="3.0.1" targetFramework="net45" />
  <package id="NUnit.Console" version="3.0.1" targetFramework="net45" />
  <package id="NUnit.ConsoleRunner" version="3.2.0" targetFramework="net45" />
  <package id="NUnit.Extension.NUnitProjectLoader" version="3.2.0" targetFramework="net45" />
  <package id="NUnit.Extension.NUnitV2Driver" version="3.2.0" targetFramework="net45" />
  <package id="NUnit.Extension.NUnitV2ResultWriter" version="3.2.0" targetFramework="net45" />
  <package id="NUnit.Extension.VSProjectLoader" version="3.2.0" targetFramework="net45" />
  <package id="NUnit.Runners" version="3.0.1" targetFramework="net45" />
  <package id="SqlServerCompact" version="4.0.8854.1" targetFramework="net40" />
  <package id="System.ComponentModel" version="4.3.0" targetFramework="net462" />
  <package id="System.ComponentModel.Annotations" version="4.4.0" targetFramework="net462" />
  <package id="System.Drawing.Common" version="4.5.0-preview1-25914-04" targetFramework="net462" />
</packages>